---
import { InfoIcon } from '@phosphor-icons/react';
import TeamsHeroFeatures from './TeamsHeroFeatures.astro';
import FeaturesHero from '../../_components/FeaturesHero.astro';

const calendlyUrl = import.meta.env.VITE_CALENDLY_URL;
---

<FeaturesHero>
  <h1 slot="title">Workflow to<br />Ship Faster</h1>
  <TeamsHeroFeatures slot="features" />
  <Fragment slot="callout">
    <a class="button" target="_blank" href={calendlyUrl}>Book a Demo</a>
    <p class="help"><InfoIcon /> We'll help your team get started. Book a 30-minute demo and let's discuss your needs.</p>
  </Fragment>
  <Fragment slot="background">
    <div class="shapes"></div>
  </Fragment>
</FeaturesHero>

<style lang="scss">
  .shapes {
    position: absolute;
    inset: 0;

    &::before {
      position: absolute;
      content: '';
      display: block;
      inset: 0;
      background-image: var(--background);
      background-size: 896px;
      opacity: 0.05;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      inset: 0;
      background-image: var(--backgroundColor);
      background-size: 896px;
      opacity: 0.15;

      mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%23000000" viewBox="0 0 256 256"><path d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"></path></svg>');
      mask-size: 600px;
      mask-repeat: no-repeat;
      mask-position: 100px 0px;
    }
  }
</style>
