---
import StackBuilderYamlCard from '../../../components/StackBuilder/StackBuilderYamlCard.astro';

const yamlHtml = `<span><b>diploiVersion</b>: "v1.0"
</span><span><b>components</b>:
</span><span class="add">  - <b>name</b>: "Node.js"
</span><span class="add">    <b>identifier</b>: "node"
</span><span class="add">    <b>folder</b>: "/"
</span><span class="add">    <b>package</b>: "https://github.com/diploi/component-nodejs#main"
</span><span><b>addons</b>:
</span><span class="add">  - <b>name</b>: "PostgreSQL"
</span><span class="add">    <b>identifier</b>: "postgres"
</span><span class="add">    <b>package</b>: "https://github.com/diploi/addon-postgres#main"
</span>`;
---

<section>
  <StackBuilderYamlCard><Fragment set:html={yamlHtml} /></StackBuilderYamlCard>
</section>

<style lang="scss">
  section {
    :global(.code-side) {
      mask-image: none;
    }

    :global(.code-card) :global(pre) :global(.add) {
      background-color: rgba(72, 218, 155, 0.15);

      &::before {
        position: absolute;
        content: '+';
        margin-left: -14px;
        font-weight: bold;
        color: rgba(72, 218, 155, 0.5);
      }
    }
  }
</style>
