---
import { getCollection } from 'astro:content';
import FeaturesHr from '../../features/_components/FeaturesHr.astro';
import FeaturesSection from '../../features/_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';

const components = await getCollection('component');
const icons = components
  .filter((component) => !component.data.hidden && component.data.type !== 'starter')
  .map((component) => component.data.icon);
---

<FeaturesSection class="showcases">
  <FeaturesSectionHeader slot="header">
    <h2 id="showcases">We Support It All</h2>
    <p>Pick any repository and we'll make it run.</p>
    <div class="icons">
      <ul>
        {
          icons.map((icon) => (
            <li>
              <img alt="component icon" src={`data:image/svg+xml;base64,${icon}`} width={24} height={24} />
            </li>
          ))
        }
      </ul>
      <div>
        <ul>
          {
            icons.map((icon) => (
              <li>
                <img alt="component icon" src={`data:image/svg+xml;base64,${icon}`} width={24} height={24} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <article class="content">
      <section>
        <h2>Import From GitHub</h2>
        <p>Pick one of your own GitHub repositories. We'll analyze it, spin up a deployment, and give you a live URL.</p>
        <a class="button" href={`${import.meta.env.VITE_API_URL}/import/github`}>Import From GitHub</a>
      </section>
      <FeaturesHr vertical />
      <section>
        <h2>Import From URL</h2>
        <p>Pick any public GitHub repository and we'll take care of the rest. A perfect way to try out that new trending framework.</p>
        <form method="get" action={`${import.meta.env.VITE_API_URL}/login`} class="url">
          <input name="import" placeholder="https://github.com/..." pattern="https://github\.com/.+" required />
          <button type="submit">Import</button>
        </form>
      </section>
    </article>
  </FeaturesSectionHeader>
</FeaturesSection>

<style lang="scss">
  .showcases {
    > :global(header) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      > h2 {
        margin-bottom: 0px;
        font-size: 3rem;
        font-weight: 650;
        text-align: center;
      }

      > p {
        margin-bottom: 16px;
        text-align: center;
      }
    }
  }

  @keyframes scroll {
    0% {
      translate: 0 0 10px;
    }
    100% {
      translate: calc((100% + 16px) * -1) 0 10px;
    }
  }

  .icons {
    position: relative;
    display: flex;
    width: min(600px, 90vw);
    user-select: none;
    pointer-events: none;

    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);

    > ul,
    > div > ul {
      display: flex;
      gap: 16px;
      margin-right: 16px;

      animation: scroll 30s linear infinite;

      > li {
        @media (prefers-reduced-motion: reduce) {
          animation: none;
        }
      }
    }

    > div {
      position: absolute;
      translate: 100% 0;
    }
  }

  .content {
    display: flex;
    gap: 48px;
    margin-top: 48px;

    @media (max-width: 860px) {
      flex-direction: column;

      > section,
      > section > h2,
      > section > p {
        text-align: center !important;
      }
    }

    > section {
      flex: 1;
      text-align: right;

      > h2 {
        margin-bottom: 12px;
        font-size: 2rem;
      }

      > h2,
      > p {
        text-align: right;
      }

      > p {
        margin-bottom: 24px;
      }

      &:last-of-type {
        text-align: left;

        > h2,
        p {
          text-align: left;
        }
      }
    }
  }

  .url {
    display: flex;

    > input {
      padding-top: 18px;
      padding-bottom: 18px;
      border: 2px solid var(--color-primary);
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
</style>
