---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import LandingExplainer from '../_landing/_components/LandingExplainer.astro';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import LovableHr from '../lovable/_components/LovableHr.astro';
import ImportAi from './_components/ImportAi.astro';
import ImportCta from './_components/ImportCta.astro';
import ImportFeatures from './_components/ImportFeatures.astro';
import ImportHero from './_components/ImportHero.astro';
import ImportResources from './_components/ImportResources.astro';

const schema = createWebsiteSchema();
---

<Layout
  title="Diploi - Deploy Any App With AI"
  description="Extend apps built with Lovable by migrating to Diploi, to use Cursor, add databases or backend services, and deploy staging/production environments with zero DevOps."
  ogUrlMatchCanonical={true}
>
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <ImportHero />
    <ImportCta />
    <LovableHr />
    <ImportAi />
    <LovableHr />
    <LandingExplainer />
    <LovableHr />
    <ImportFeatures />
    <LovableHr />
    <ImportResources />
    <FeaturesCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
