---
import {
  CodeBlockIcon,
  CopyIcon,
  DatabaseIcon,
  FastForwardIcon,
  FileCodeIcon,
  FileTextIcon,
  GitBranchIcon,
  LinkIcon,
  MagicWandIcon,
  MouseIcon,
  PlugsConnectedIcon,
  SealCheckIcon,
  UsersThreeIcon,
} from '@phosphor-icons/react';
import AiSectionHeader from '../../ai/_components/AiSectionHeader.astro';
import AiLink from '../../ai/_components/AiLink.astro';
import AiHr from '../../ai/_components/AiHr.astro';
---

<section class="main">
  <AiSectionHeader>
    <UsersThreeIcon />
    <h2>Teamwork Makes The Dream Work</h2>
    <p>Diploi works with any IDE that supports SSH. We offer first-class support for the most popular AI-native editors.</p>
  </AiSectionHeader>
  <ul class="features">
    <li>
      <SealCheckIcon />
      <h3>Per-Developer Environments</h3>
      <p>Get the proper software-dev workflow. Git, CI/CD, SSH, e.g.</p>
      <ul data-row="0">
        <li><PlugsConnectedIcon weight="bold" /> Zero-install remote development</li>
        <li><MouseIcon weight="bold" /> One-click environment setup</li>
        <li><FastForwardIcon weight="bold" /> 30 second developer onboarding</li>
      </ul>
    </li>
    <AiHr vertical />
    <li>
      <CodeBlockIcon />
      <h3>GitHub Workflow</h3>
      <p>Use any editor you'd like with SSH remote support, like Cursor or Zed.</p>
      <ul data-row="1">
        <li><GitBranchIcon weight="bold" /> GitHub integration</li>
        <li><MagicWandIcon weight="bold" /> Automatic Git, CI/CD, SSL</li>
        <li><FileCodeIcon weight="bold" /> Infrastructure as code</li>
      </ul>
    </li>
    <AiHr vertical />
    <li>
      <DatabaseIcon />
      <h3>Easy Previews</h3>
      <p>Host any of our supported services with your app, like Supabase or a CMS.</p>
      <ul data-row="2">
        <li><LinkIcon weight="bold" /> Shareable environment URLs</li>
        <li><CopyIcon weight="bold" /> One-click environment cloning</li>
        <li><FileTextIcon weight="bold" /> Real-time logging</li>
      </ul>
    </li>
  </ul>
  <AiLink href="/dev">Remote development with Diploi</AiLink>
</section>

<style lang="scss">
  @use 'sass:math';
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .list {
    display: flex;
    gap: 32px;

    @media (max-width: 860px) {
      flex-direction: column;
    }

    > article {
      flex: 1;

      > img {
        max-width: 100%;
      }

      > section {
        margin-top: 16px;

        :global(span) {
          transform: translateY(-2px);
        }

        > svg {
          color: var(--color-primary);
        }

        > ul > li {
          font-size: 1.25rem;
          font-weight: 350;
          color: var(--color-text-secondary);
        }
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 32px;

    @media (max-width: 860px) {
      grid-template-columns: 1fr;
      gap: 48px;

      :global(hr) {
        display: none;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 0;
    }

    li > svg {
      width: 32px;
      height: 32px;
    }

    a {
      text-underline-offset: 4px;
      color: inherit;
    }

    li > ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;

      li {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
        color: var(--color-text-secondary);

        > svg {
          width: 22px;
          height: 22px;
        }
      }

      @for $c from 0 through 2 {
        &[data-row='#{$c}'] {
          @for $r from 1 through 3 {
            $i: ($c * 3) + $r;
            > li:nth-child(#{$r}) {
              > svg {
                color: color-mix(in lab, var(--color-primary), var(--color-secondary) ($i - 1) * math.div(100%, 8));
              }
            }
          }
        }
      }
    }
  }
</style>
