---
import { ChartPieSliceIcon } from '@phosphor-icons/react';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
import PricingTrialBanner from '../../../pricing/_components/PricingTrialBanner.astro';
import PricingDeployments from '../../../pricing/_components/PricingDeployments.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <ChartPieSliceIcon />
    <h2 id="pricing">Simple, Predictable Pricing</h2>
    <p>Only pay for what you use. If your dev environment isn't always on, neither is the cost. Sign up & get free credits!</p>
  </FeaturesSectionHeader>
  <section>
    <PricingTrialBanner />
    <PricingDeployments />
  </section>
</FeaturesSection>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }
</style>
