---
import { Image } from 'astro:assets';
import { Info, Package } from '@phosphor-icons/react';

type Props = {
  slug: string;
  title: string;
  image?: ImageMetadata;
  imageAlt?: string;
  features: string[];
};

const { slug, title, image, imageAlt, features } = Astro.props;
---

<article>
  {
    image && (
      <Image
        alt={imageAlt || 'template logo'}
        src={image}
        width={48}
        height={48}
      />
    )
  }
  {!image && <Package size={48} style={{ fill: 'url(#gradient-three)' }} />}
  <h3>{title}</h3>
  <section>
    <ul>
      {features.map(feature => <li>{feature}</li>)}
    </ul>
    <button data-launch={slug}>Launch Project</button>
    <p class="help"><Info weight="bold" /> No account needed</p>
  </section>
</article>

<style>
  article {
    position: relative;
    padding: 32px;
    padding-top: 40px;
    padding-bottom: 16px;
    width: 280px;
    border-radius: 24px;
    background-color: var(--color-grey);
    box-shadow:
      rgba(255, 206, 227, 0.2) 0px 1px 1px 0px inset,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  article > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  article h3 {
    margin: 0;
  }

  article ul {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 22px;
    list-style-type: '→';
    opacity: 0.7;
  }
  article ul li {
    padding-left: 8px;
  }

  button {
    justify-content: center;
    align-self: stretch;
  }

  img {
    object-fit: contain;
  }

  .help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.64rem;
    opacity: 0.5;
  }
</style>
