---
import { templates } from '../../content/templates';
import TemplateCard from './TemplateCard.astro';

type Props = {
  filterBySlug?: string;
};

const { filterBySlug } = Astro.props;
---

<section>
  {
    templates
      .filter((template) =>
        !filterBySlug ? true : template.slug === filterBySlug
      )
      .map((template) => (
        <TemplateCard
          title={template.title}
          image={template.image}
          imageAlt={template.imageAlt}
          features={template.features}
        />
      ))
  }
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    max-width: 1200px;
  }
</style>
