---
import Footer from '../../components/Footer.astro';
import GlobalStyles from '../../components/GlobalStyles.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import LovableHr from '../lovable/_components/LovableHr.astro';
import LandingComparison from './_components/LandingComparison.astro';
import LandingExplainer from './_components/LandingExplainer.astro';
import LandingFaq from './_components/LandingFaq.astro';
import LandingFeedback from './_components/LandingFeedback.astro';
import LandingMadeIn from './_components/LandingMadeIn.astro';
import LandingShowcases from './_components/LandingShowcases.astro';
import LandingStackBuilder from './_components/LandingStackBuilder.astro';

interface Props {
  title?: string;
  description?: string;
}

const defaultTitle = 'Diploi - The App Development and Deployment Platform for Busy Developers';
const defaultDescription =
  'Diploi is a platform that lets you build apps using cloud development environments and host them online with a single click, without configuring servers manually.';

const { title = defaultTitle, description = defaultDescription } = Astro.props;
---

<GlobalStyles />
<Layout title={title} description={description}>
  <slot name="head" slot="head" />
  <Navigation />
  <main>
    <slot name="hero" />
    <LandingShowcases />
    <LandingStackBuilder />
    <LovableHr />
    <!-- <LandingComparison /> -->
    <!-- <LovableHr /> -->
    <LandingExplainer />
    <LovableHr />
    <FeaturesCallouts>
      <Fragment slot="callouts"></Fragment>
    </FeaturesCallouts>
    <LovableHr />
    <LandingFeedback />
    <LandingMadeIn />
    <LovableHr />
    <LandingFaq />
    <FeaturesCallouts>
      <Fragment slot="features"></Fragment>
    </FeaturesCallouts>
  </main>
</Layout>
<Footer />
