---
import { CopyIcon } from '@phosphor-icons/react';
import { getHighlighter } from '../utils/shikiHighlighter';

type Props = { codeContent: string; language?: string; windowHeight?: '100px' | '200px' | '300px' | '400px' | '800px' | 'auto' };
const { codeContent, language = 'markdown', windowHeight = '400px' } = Astro.props;

const highlighter = await getHighlighter(language);

const highlightedHtml = highlighter.codeToHtml(codeContent, {
  lang: language,
  theme: 'github-dark',
});
---

<div style=`height: ${windowHeight};` class="code-window">
  <button class="secondary copy-btn" data-code={codeContent}><CopyIcon /> Copy</button>
  <Fragment set:html={highlightedHtml} />
</div>

<script>
  document.querySelectorAll('.copy-btn').forEach((btn) => {
    btn.addEventListener('click', async () => {
      const code = btn.nextElementSibling?.textContent ?? '';
      await navigator.clipboard.writeText(code);
      btn.textContent = 'Copied!';
      setTimeout(() => (btn.textContent = 'Copy'), 2000);
    });
  });
</script>

<style lang="scss">
  .copy-btn {
    position: sticky;
    top: 0;
    float: right;
    background: white;
    color: white;
    border: none;
    padding: 4px 12px;
    padding-left: 8px;
    gap: 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    color: black;

    &:hover:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .copy-btn:hover {
    opacity: 0.8;
  }

  .code-window {
    overflow-x: hidden;
    margin: 32px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-button);
    scrollbar-color: rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0.1);

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .code-window :global(pre) {
    margin: 0;
    padding: 16px;
    background: transparent !important;
    overflow-x: auto;
  }

  .code-window :global(code) {
    font-size: 0.9rem;
    line-height: 1.5;
  }
</style>
