---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import FeaturesCallouts from '../features/_components/FeaturesCallouts.astro';
import AiStackBuilder from '../features/ai/_components/AiStackBuilder.astro';
import LaunchweekFeatures from './_components/LaunchweekFeatures.astro';
import LaunchweekHero from './_components/LaunchweekHero.astro';
import LaunchweekRoadmap from './_components/LaunchweekRoadmap.astro';
import { launchweek2026 } from '../../content/launchweek';

const schema = createWebsiteSchema();
---

<Layout
  title="Diploi - Launch Week"
  description="Launch Week is coming! From the 30th of March to the 3rd of April. We're rolling out new features to make development magical."
  ogUrlMatchCanonical={true}
>
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <LaunchweekHero slot="hero" />
    <a style="text-align: center;" href="launchweek/2025">Check our 2025 Launch Week</a>
    <LaunchweekRoadmap data={launchweek2026} />
    <hr />
    <LaunchweekFeatures />
    <hr />
    <AiStackBuilder />
    <hr />
    <FeaturesCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
