---
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { createWebsiteSchema } from '../../utils/createWebsiteSchema';
import Landing from '../_landing/index.astro';
import AiCallouts from '../ai/_components/AiCallouts.astro';
import AiEditors from '../ai/_components/AiEditors.astro';
import AiPricing from '../ai/_components/AiPricing.astro';
import LovableEditors from './_components/LovableEditors.astro';
import LovableHeroNew from './_components/LovableHeroNew.astro';
import LovableHr from './_components/LovableHr.astro';
import LovablePacks from './_components/LovablePacks.astro';
import LovableResources from './_components/LovableResources.astro';
import LovableTeamwork from './_components/LovableTeamwork.astro';

const schema = createWebsiteSchema();
---

<Layout title="Diploi – Level Up Your Lovable Apps">
  {/* Organization schema for Google */}
  <script slot="head" type="application/ld+json" set:html={JSON.stringify(schema)} />

  <Navigation />
  <main>
    <LovableHeroNew />
    <LovableHr />
    <LovableEditors />
    <LovableHr />
    <LovableTeamwork />
    <LovableHr />
    <LovablePacks />
    <LovableHr />
    <LovableResources />
    <h1>Lovable callout here</h1>
    <AiCallouts />
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 128px;

    @media (max-width: 860px) {
      gap: 64px;
    }
  }
</style>
