---
import StackBuilder from '../../../components/StackBuilder/StackBuilder.astro';
import SubSectionHeader from '../../../components/SubSectionHeader.astro';
import FeaturesSection from '../../features/_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../features/_components/FeaturesSectionHeader.astro';
---

<FeaturesSection class="showcases">
  <FeaturesSectionHeader slot="header">
    <h2 id="showcases">Build Anything</h2>
    <p>Your idea, live in under a minute. Pick a starting point and go.</p>
  </FeaturesSectionHeader>
  <StackBuilder showShowcases>
    <SubSectionHeader
      slot="components-header"
      title="Custom Stack"
      description="Build a monorepo from scratch. Includes example code."
      class="header-components"
    />
    <Fragment slot="addons-header"></Fragment>
  </StackBuilder>
</FeaturesSection>

<style lang="scss">
  .showcases {
    > :global(header) {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 3rem;
        font-weight: 650;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
</style>
