---
import { Image } from 'astro:assets';
import {
  ArrowClockwiseIcon,
  CaretRightIcon,
  CodeIcon,
  CopyIcon,
  FileTextIcon,
  GitPullRequestIcon,
  HardDriveIcon,
  LinkSimpleIcon,
  MagicWandIcon,
  MouseIcon,
  TerminalIcon,
} from '@phosphor-icons/react';
import Tag from '../../../../components/Tag.astro';
import diploiLogo from '../../../../images/diploi-logo.svg';
import FeaturesSection from '../../_components/FeaturesSection.astro';
import FeaturesSectionHeader from '../../_components/FeaturesSectionHeader.astro';
---

<FeaturesSection>
  <FeaturesSectionHeader slot="header">
    <GitPullRequestIcon />
    <h2>Deploy to Production with <Tag>git push</Tag></h2>
    <p>From staging to production, Diploi manages it all. Create environments in one-click and deploy updates with a Git push.</p>
  </FeaturesSectionHeader>
  <fieldset>
    <legend><Image alt="diploi logo" src={diploiLogo} height={24} /></legend>
    <section>
      <h3>Development</h3>
      <ul>
        <li><HardDriveIcon /> Powerful VM for development</li>
        <li><TerminalIcon /> Cloud IDE or any custom IDE</li>
        <li><CodeIcon /> Stack Builder for scaffolding apps</li>
      </ul>
    </section>
    <div>
      <CaretRightIcon />
      <Tag primary>git push</Tag>
    </div>
    <section>
      <h3>Preview</h3>
      <ul>
        <li><LinkSimpleIcon /> Share with a link</li>
        <li><FileTextIcon /> Tail logs, login with SSH</li>
        <li><MagicWandIcon /> Automatic Git, CI/CD, SSL, e.g.</li>
      </ul>
    </section>
    <div>
      <CaretRightIcon />
      <Tag primary class:list={{ btn: true }}>Apply Changes</Tag>
    </div>
    <section>
      <h3>Production</h3>
      <ul>
        <li><CopyIcon /> Consistent with development</li>
        <li><ArrowClockwiseIcon /> Optimized deployments</li>
        <li><MouseIcon /> One-click setup</li>
      </ul>
    </section>
  </fieldset>
</FeaturesSection>

<style lang="scss">
  h2 {
    > :global(span) {
      margin-left: -0.5ch;
      font-size: inherit;
    }
  }

  fieldset {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 32px 1fr 32px 1fr;
    margin: 0;
    padding-bottom: 64px;
    border: 1px solid var(--color-border-highlight);
    border-radius: var(--border-radius-medium);

    > legend {
      padding: 0 8px;
      translate: 0 5px;
    }

    $spacing: 24px;
    > section {
      margin: $spacing;
      padding: 24px;
      border: 1px solid transparent;
      border-radius: var(--border-radius-medium);
      background:
        linear-gradient(to bottom right in lab, color-mix(in lab, var(--color-border), var(--color-bg) 85%), var(--color-bg)) padding-box,
        conic-gradient(var(--color-border), var(--color-bg), var(--color-border)) border-box;

      > ul {
        margin-top: 16px;

        > li {
          color: var(--color-text-secondary);
        }
      }
    }

    > div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
      }

      &::before {
        width: calc(32px + ($spacing * 2));
        height: 1px;
        background-color: var(--color-border);
      }

      &::after {
        bottom: 0;
        height: calc(50% - $spacing);
        border-right: 1px dashed var(--color-border);
      }

      > :global(svg) {
        position: absolute;
        background-color: var(--color-bg);
        color: var(--color-border);
      }

      > :global(span) {
        position: absolute;
        width: max-content;
        bottom: -40px;
      }

      .btn {
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 99px;
      }
    }
  }
</style>
