---
import PricingDeployments from '../../pricing/_components/PricingDeployments.astro';
import PricingTrialBanner from '../../pricing/_components/PricingTrialBanner.astro';
---

<section class="main">
  <header>
    <h2>Simple, Predictable Pricing</h2>
  </header>
  <section>
    <PricingTrialBanner />
    <PricingDeployments />
  </section>
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);

    section {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
</style>
